@import './variables.scss';
@import './fonts.scss';

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin: 0;
}
