$breakpoint-mobile: 475px;
$breakpoint-notebook: 800px;
$breakpoint-desktop: 1440px;

$orange:#FF6B00;
$light-gray: #F5F5F5;
$gray: #B7B7B7;
$medium-gray:  #818181;
$dark-gray: #2E2E2E;
$dark: #1B1B1B;

